@{
    ViewData["Title"] = "Home Page";
    @model DateTime?
}

<div class="text-center">
    <h2 class="display-5">In-Memory Caching Demo</h2>
    
    <p>Click either Basic or Async to interact</p>

</div>
