@{
    ViewData["Title"] = ".NET In-Memory Caching";
    @model User;
}

<div class="text-center">
     <h4>Cached User: @(Model == null ? "No cached entry found" : Model.email)</h4>
    
    <a class="btn btn-primary" asp-action="CacheUser">Cache It</a>
    <a class="btn btn-secondary" asp-action="ClearCache">Clear It</a>

</div>
